<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>SearchItem</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>系统搜索🔍标题</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>系统搜索🔍副标题</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeSearch</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string></string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>PlayItem</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>播放标题</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>播放子标题</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypePlay</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string></string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>EditItem</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>编辑标题</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>编辑副标题</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeCompose</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string></string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>PauseItem</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>暂停标题</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>暂停副标题</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypePause</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string></string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>AddItem</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>添加标题</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>添加🔍副标题</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAdd</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string></string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>LocationItem</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>定位标题</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>定位副标题</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeLocation</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string></string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>ShareItem</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>分享🔍标题</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>分享🔍副标题</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeShare</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string></string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict/>
		</dict>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string></string>
	<key>NSCameraUsageDescription</key>
	<string></string>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>小希相机</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
